.c-evaluation {
  display: flex;
  justify-content: center;
  align-items: center;
  @include pc {
    margin-top: 4px;
  }
  @include pcmiddle {
    margin-top: .04rem;
  }
  &__text {
    color: $fontColor;
    font-weight: 400;
    @include pc {
			font-size: 10px;
		}
		@include pcmiddle {
			font-size: .1rem;
    }
    @include sp {
			font-size: .1rem;
    }
  }
  &__star {
    display: flex;
		@include pc {
			margin-left: 12px;
		}
		@include pcmiddle {
			margin-left: .12rem;
    }
    @include sp {
			margin-left: .06rem;
    }
    &-icon {
      color: $fontColor;
      @include pc {
        font-size: 14px;
      }
      @include pcmiddle {
        font-size: .1rem;
      }
      @include sp {
        font-size: .12rem;
      }
      &.is-form-star {
        cursor: pointer;
      }
      &.is-star-colord {
        color: #FFD000!important;
      }
    }
  }
  &__nothing {
    @include pc {
      font-size: 14px;
    }
    @include pcmiddle {
      font-size: .14rem;
    }
    @include sp {
      font-size: .07rem;
    }
  }
  &__date {
    @include pc {
      font-size: 13px;
      margin-left: 14px;
    }
    @include pcmiddle {
      font-size: .13rem;
      margin-left: .14rem;
    }
    @include sp {
      font-size: .13rem;
      margin-left: .14rem;
    }
  }
}

.starIndexInput {
  display: none;
}

// これをコピペしてください
// <div class="c-evaluation">
//   <div class="c-evaluation__stars">
//     <p class="c-evaluation__text">平均評価</p>
//     <div class="c-evaluation__star">
//       <span class="c-evaluation__star-icon">★</span>
//       <span class="c-evaluation__star-icon">★</span>
//       <span class="c-evaluation__star-icon">★</span>
//       <span class="c-evaluation__star-icon">★</span>
//       <span class="c-evaluation__star-icon">★</span>
//     </div>
//   </div>
//   <p class="c-evaluation__date">- 2020/03/31</p>
// </div>


// 評価機能を変更できる画面では、こちらを使用してください
// <div class="c-evaluation">
//   <div class="c-evaluation__stars">
//     <p class="c-evaluation__text">評価</p>
//     <div class="c-evaluation__star">
//       <span class="c-evaluation__star-icon is-form-star js-star-icon">★</span>
//       <span class="c-evaluation__star-icon is-form-star js-star-icon">★</span>
//       <span class="c-evaluation__star-icon is-form-star js-star-icon">★</span>
//       <span class="c-evaluation__star-icon is-form-star js-star-icon">★</span>
//       <span class="c-evaluation__star-icon is-form-star js-star-icon">★</span>
//       <input type="number" class="starIndexInput">
//     </div>
//   </div>
//   <p class="c-evaluation__date">- 2020/03/31</p>
// </div>
