.c-modal {
  margin-right: 13px;
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(3px);
  &.is-delete {
    z-index: 50;
  }
  &__bg {
    position: absolute;
    background: #fff;
    z-index: 10;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    @include pc {
      width: 780px;
      margin-top: 42.5px;
      padding: 50px 60px 50px;
      border-radius: 5px;
    }
    @include pcmiddle {
      width: 7.8rem;
      margin-top: 42.5px;
      padding: .5rem .6rem .5rem;
      border-radius: .05rem;
    }
    @include sp {
      padding: .3rem;
      border-radius: .1rem;
    }
  }
  &__content {
    margin: 0 auto;
  }
  &__close {
    cursor:pointer;
    background: url('../img/icon_close.png') center/cover;
    position: absolute;
    @include pc {
      top: -20px;
      right: -130px;
      width: 43px;
      height: 43px;
    }
    @include pcmiddle {
      top: -.2rem;
      right: -1.3rem;
      width: .43rem;
      height: .43rem;
    }
  }
  &__err {
    @include pc {
      margin-left: 20px;
    }
    @include pcmiddle {
      margin-left: .2rem;
    }
  }
  &__text-count {
    display: block;
    font-weight: 400;
    text-align: right;
    @include pc {
      margin-top: 10px;
      font-size: 14px;
      right: 50px;
    }
    @include pcmiddle {
      margin-top: .1rem;
      font-size: .14rem;
      right: .5rem;
    }
    @include sp {
      margin-top: .05rem;
      font-size: .1rem;
      right: .5rem;
    }
  }
  &__comment-count {
    display: block;
    font-weight: 400;
    text-align: right;
    @include pc {
      margin-top: 10px;
      font-size: 14px;
      right: 50px;
    }
    @include pcmiddle {
      margin-top: .1rem;
      font-size: .14rem;
      right: .5rem;
    }
  }
}

// <!-- modal -->
// <div class="c-modal js-modal">
//   <div class="c-modal__bg">
//     <div class="c-modal__content">
//       <a class="c-modal__close js-modal-close"></a>
//         ここにそれぞれの中身が入ります。
//     </div>
//   </div>
// </div>
// <!-- modal -->
