.c-section {
	&__title {
		color: $fontColor;
		@include pc {
			font-size: 20px;
		}
		@include pcmiddle {
			font-size: .2rem;
		}
		@include sp {
			margin-top: .5rem;
			font-size: .15rem;
			text-align: center;
		}
		&-mypage {
			display: inline-block;
			background-color: $lightBlue;
			color: $darkBlue;
			text-align: center;
			font-weight: bold;
			cursor: pointer;
			@include pc {
				width: 230px;
				padding: 20px 0;
				border-radius: 10px 10px 0 0;
				font-size: 24px;
			}
			@include pcmiddle {
				width: 2.3rem;
				padding: .2rem 0;
				border-radius: .1rem .1rem 0 0;
				font-size: .24rem;
			}
			&:hover {
				opacity: 0.8;
				transition: .3s;
			}
		}
		&-userlist {
			display: inline-block;
			color: $darkBlue;
			font-weight: bold;
			@include pc {
				padding: 7px 0 7px 10px;
				border-left: 6px solid #ccc;
				font-size: 24px;
				margin-left: 50px;
			}
			@include pcmiddle {
				padding: .07rem 0 .07rem .1rem;
				border-left: .06rem solid #ccc;
				font-size: .24rem;
				margin-left: .5rem;
			}
			@include sp {
				padding: .05rem 0 .05rem .08rem;
				border-left: .04rem solid #ccc;
				font-size: .15rem;
				margin-left: .3rem;
			}
			&:hover {
				transition: .3s;
				opacity: 0.8;
				cursor: pointer;
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
}