.c-tabs{
  display: inline-block;
  color: $lightGray;
  transition: all .3s ease-in;
  cursor: pointer;
  @include pc {
    margin-left: 38px;
    padding-top: 15px;
    font-size: 21px;
  }
  @include pcmiddle {
    margin-left: .38rem;
    padding-top: .15rem;
    font-size: .21rem;
  }
  &:first-child {
    margin: 0;
  }
  &.js-active-tabbtn {
    color: $fontColor;
  }
}