.p-result {
  display: flex;
  flex-wrap: wrap;
  &-wrapper {
    @include pc {
      width: 740px;
    }
    @include pcmiddle {
      width: 7.4rem;
    }
  }
  &-paginate {
    @include pc {
      margin-top: 60px;
    }
    @include pcmiddle {
      margin-top: .6rem;
    }
  }
  &-head {
    @include pc {
      margin: 0 0 50px -110px;
    }
    @include pcmiddle {
      margin: 0 0 .5rem -1.1rem;
    }
    &__tabs {
      position: relative;
      @include pc {
        margin-top: 10px;
      }
      @include pcmiddle {
        margin-top: .1rem;
      }
    }
    &__tab {
      display: inline-block;
      color: $lightGray;
      transition: all .3s ease-in;
      cursor: pointer;
      @include pc {
        margin-left: 38px;
        padding-top: 8px;
        font-size: 16px;
      }
      @include pcmiddle {
        margin-left: .38rem;
        padding-top: .08rem;
        font-size: .16rem;
      }
      &.js-active-tabbtn {
        color: $fontColor;
      }
      &:first-child {
        margin: 0;
      }
    }
  }
  &__link {
    display: block;
  }
  li {
    text-align: center;
    @include pc {
      width: 116px;
      margin: 40px 0 0 40px;
    }
    @include pcmiddle {
      width: 1.16rem;
      margin: .4rem 0 0 .4rem;
    }
    &:nth-child(-n+5) {
      margin-top: 0;
    }
    &:nth-child(5n+1) {
      margin-left: 0;
    }
  }
  &__title {
    color: $fontColor;
    font-weight: 400;
    @include pc {
      margin-top: 10px;
      font-size: 11px;
      line-height: 13px;
    }
    @include pcmiddle {
      margin-top: .1rem;
      font-size: .1rem;
      line-height: .13rem;
    }
  }
  &__review {
    color: $fontColor;
    font-weight: 400;
    @include pc {
      margin-top: 6px;
      font-size: 10px;
    }
    @include pcmiddle {
      margin-top: .06rem;
      font-size: .1rem;
    }
  }
  &--disactive {
    display: none;
  }
}
#result-line{
  display: block;
  position: absolute;
  top: 0;
  background: $fontColor;
  transition: all .3s ease-in;
  @include pc {
    width: 42px;
    height: 2px;
  }
  @include pcmiddle {
    width: .42rem;
    height: .02rem;
  }
  &.release {
    transition: all .3s ease-in;
    @include pc {
      left: 99px;
    }
    @include pcmiddle {
      left: .99rem;
    }
  }
  &.sales {
    transition: all .3s ease-in;
    @include pc {
      left: -7px;
      width: 76px;  
    }
    @include pcmiddle {
      left: -.07rem;
      width: .76rem; 
    }
  }
}