.p-userlist {
  margin: 0 auto;
  @include pc {
    width: 740px;
    margin-right: 60px;
  }
  @include pcmiddle {
    width: 7.4rem;
    margin-right: .6rem;
  }
  &-wrapper {
    display: flex;
    @include pc {
      width: 1000px;
      padding: 22px 0 45px;
    }
    @include pcmiddle {
      width: 10rem;
      padding: .22rem 0 .45rem;
    }
  }
  &__head {
    &.is-small {
      @include pc {
        font-size: 14px;
      }
      @include pcmiddle {
        font-size: .14rem;
      }
    }
    &.is-middle {
      @include pc {
        font-size: 16px;
      }
      @include pcmiddle {
        font-size: .16rem;
      }
    }
    &.is-large {
      @include pc {
        font-size: 18px;
      }
      @include pcmiddle {
        font-size: .18rem;
      }
    }
    &.is-top {
      position: relative;
    }
  }
  &-glance {
    display: none;
    @include pc {
      margin-top: 45px;
    }
    @include pcmiddle {
      margin-top: .45rem;
    }
    &.js-active-tabcontents {
      display: block!important;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      position: relative;
      @include pc {
        margin-left: 60px;
      }
      @include pcmiddle {
        margin-left: .6rem;
      }
      &:nth-child(4n+1) {
        margin: 0;
      }
      &:nth-child(n+5) {
        @include pc {
          margin-top: 35px;
        }
        @include pcmiddle {
          margin-top: .35rem;
        }
      }
      &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        background-color: #fff;;
        @include pc {
          top: -5px;
          left: -5.5px;
          width: 146px;
          height: 146px;
          border: 1px solid $lightGray;
        }
        @include pcmiddle {
          top: -.05rem;
          left: -.06rem;
          width: 1.46rem;
          height: 1.46rem;
          border: .01rem solid $lightGray;
        }
      }
    }
    &__depart{
      font-weight: 400;
      white-space: nowrap;
      @include pc {
        width: 135px;
        margin-top: 10px;
        font-size: 12px;
      }
      @include pcmiddle {
        width: 1.35rem;
        margin-top: .1rem;
        font-size: .12rem;
      }
    }
    &__img {
      position: relative;
      border-radius: 50%;
      object-fit: cover;
      object-position: center center;
      @include pc {
        width: 135px;
        height: 135px;
      }
      @include pcmiddle {
        width: 1.35rem;
        height: 1.35rem;
      }
    }
    &__star {
      position: absolute;
      @include pc {
        top: 2px;
        left: -7px;
        width: 35px;
      }
      @include pcmiddle {
        top: .02rem;
        left: -.07rem;
        width: .35rem;
      }
    }
    &__contents {
      text-align: center;
      @include pc {
        margin-top: 20px;
      }
      @include pcmiddle {
        margin-top: .2rem;
      }
    }
    &__name {
      @include pc {
        width: 135px;
        font-size: 20px;
      }
      @include pcmiddle {
        width: 1.35rem;
        font-size: .2rem;
      }
    }
    &__fav {
      background-color: $orange;
      color: #fff;
      font-weight: 400;
      @include pc {
        width: 123px;
        margin-top: 10px;
        padding: 7px 0;
        border-radius: 5px;
        font-size: 12px;
      }
      @include pcmiddle {
        width: 1.23rem;
        margin-top: .1rem;
        padding: .07rem 0;
        border-radius: .05rem;
        font-size: .12rem;
      }
    }
  }
  &-ranking {
    display: none;
    &__list {
      display: flex;
      justify-content: space-between;
      @include pc {
        margin-top: 25px;
      }
      @include pcmiddle {
        margin-top: .25rem;
      }
    }
    &__item {
      position: relative;
      text-align: center;
      @include pc {
        width: 130px;
      }
      @include pcmiddle {
        width: 1.3rem;
      }
      &:first-child {
        margin-left: 0;
      }
      &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        background-color: #fff;;
        @include pc {
          top: -5px;
          left: 11px;     
          width: 107px;
          height: 107px;
          border: 1px solid $lightGray;
        }
        @include pcmiddle {
          top: -.05rem;
          left: .11rem;     
          width: 1.07rem;
          height: 1.07rem;
          border: .01rem solid $lightGray;
        }
      }
    }
    &__link {
      border-radius: 50%;
      & img {
        position: relative;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
        overflow: hidden;
        @include pc {
          width: 98px;
          height: 98px;
        }
        @include pcmiddle {
          width: .98rem;
          height: .98rem;
        }
      }
    }
    &__rank {
      display: inline-block;
      position: absolute;
      border-radius: 100% 0 0 0;
      background: $lightBlue;
      color: #fff;
      z-index: 10;
      @include pc {
        width: 49px;
        height: 49px;
        padding-top: 21px;
        font-size: 14px;
      }
      @include pcmiddle {
        width: .49rem;
        height: .49rem;
        padding-top: .21rem;
        font-size: .14rem;
      }
      &.is-gold {
        background: #FFC345;
      }
      &.is-silver {
        background: #C7C7C7;
      }
      &.is-bronze {
        background: #8B813F;
      }
    }
    &__contents {
      @include pc {
        margin-top: 20px;
      }
      @include pcmiddle {
        margin-top: .2rem;
      }
    }
    &__name {
      @include pc {
        font-size: 17px;
      }
      @include pcmiddle {
        font-size: .17rem;
      }
    }
    &__category {
      position: relative;
      @include pc {
        margin-top: 20px;
        padding-bottom: 25px;
      }
      @include pcmiddle {
        margin-top: .20rem;
        padding-bottom: .25rem;
      }
      &-more {
        @include pc {
          top: 4px;
          right: 22px;
        }
        @include pcmiddle {
          top: .04rem;
          right: .22rem;
        }
      }
    }
    &__section {
      position: relative;
      @include pc {
        margin-top: 45px;
        padding-bottom: 25px;
      }
      @include pcmiddle {
        margin-top: .45rem;
        padding-bottom: .25rem;
      }
      &-more {
        @include pc {
          top: 7px;
          right: 22px;
        }
        @include pcmiddle {
          top: .07rem;
          right: .22rem;
        }
      }
    }
    &-more {
      position: relative;
      @include pc {
        top: 50px;
        left: 10px;
        width: 17px;
        height: 17px;
      }
      @include pcmiddle {
        top: .5rem;
        left: .1rem;
        width: .17rem;
        height: .17rem;
      }
    }
  }
  &-side {
    text-align: center;
    @include pc {
      width: 180px;
      margin-top: 60px;
    }
    @include pcmiddle {
      width: 1.8rem;
      margin-top: .6rem;
    }
    &__refine {
      font-weight: 300;
      overflow: hidden;
      @include pc {
        width: 180px;
        margin-top: 14px;
        border: 2px solid $lightGray;
        border-radius: 10px;
      }
      @include pcmiddle {
        width: 1.80rem;
        margin-top: .14rem;
        border: .02rem solid $lightGray;
        border-radius: .1rem;
      }
    }
    &__head {
      background: #F0F0F0;
      @include pc {
        padding: 12px 0;
        border-top: 2px solid $lightGray;
        border-bottom: 2px solid $lightGray;
        font-size: 15px;
      }
      @include pcmiddle {
        padding: .12rem 0;
        border-top: .02rem solid $lightGray;
        border-bottom: .02rem solid $lightGray;
        font-size: .15rem;
      }
      &:first-child {
        border-top: 0;
      }
    }
    &__contents {
      background: #fff;
      @include pc {
        padding: 12px 0;
        font-size: 13px;
      }
      @include pcmiddle {
        padding: .12rem 0;
        font-size: .13rem;
      }
      select,input {
        @include pc {
          width: 140px;
        }
        @include pcmiddle {
          width: 1.4rem;
        }
      }
      input[name="month"] {
        outline: none;
        border: none;
      }
    }
    &__btn {
      font-weight: 300;
      @include pc {
        width: 166px;
        margin-bottom: 5px;
        padding: 10px 0;
        font-size: 13px;
      }
      @include pcmiddle {
        width: 1.66rem;
        margin-bottom: .05rem;
        padding: .1rem 0;
        font-size: .13rem;
      }
    }
    &__section {
      @include pc {
        margin-top: 35px;
      }
      @include pcmiddle {
        margin-top: .35rem;
      }
      &:first-child {
        margin-top: 0;
      }
      input[type="text"] {
        @include pc {
          width: 180px;
          height: 35px;
          margin-top: 14px;
          padding: 10px 12px;
          border: 1px solid $lightGray;
          font-size: 13px;
        }
        @include pcmiddle {
          width: 1.80rem;
          height: .35rem;
          margin-top: .14rem;
          padding: .1rem .12rem;
          border: .01rem solid $lightGray;
          font-size: .13rem;
        }
      }
      input[type="submit"] {
        position: relative;
        background: url(../img/icon-search.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        @include pc {
          width: 15px;
          height: 15px;
          top: -25px;
          right: -70px;
        }
        @include pcmiddle {
          width: .15rem;
          height: .15rem;
          top: -.25rem;
          right: -.70rem;
        }
      }
    }
  }
}
#line{
  display: block;
  position: absolute;
  top: 0;
  background: $fontColor;
  transition: all .3s ease-in;
  @include pc {
    width: 125px;
    height: 2px;
  }
  @include pcmiddle {
    width: 1.25rem;
    height: .02rem;
  }
  &.content1 {
    left: 0;
    transition: all .3s ease-in;
  }
  &.content2 {
    transition: all .3s ease-in;
    @include pc {
      left: 168px;
      width: 187px;
    }
    @include pcmiddle {
      left: 1.68rem;
      width: 1.87rem;
    }
  }
}