.l-header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	@include pc {
		padding: 20px 38px 20px 30px;
	}
	@include pcmiddle {
		padding: .2rem .38rem .2rem .3rem;
	}
	&__sidebar {
		display: flex;
		align-items: center;
	}
	&__barmenu {
		display: inline-block;
		position: relative;
		cursor: pointer;
		@include pc {
			width: 26px;
			height: 19px;
		}
		@include pcmiddle {
			width: .26rem;
			height: .19rem;
		}
	}
	&__bar {
		background: $fontColor;
		@include pc {
			width: 26px;
			height: 3px;
		}
		@include pcmiddle {
			width: .26rem;
			height: .03rem;
		}
		&.is-second {
			position: absolute;
			@include pc {
				top: 8px;
			}
			@include pcmiddle {
				top: .08rem;
			}
		}
		&.is-third {
			position: absolute;
			@include pc {
				top: 16px;
			}
			@include pcmiddle {
				top: .16rem;
			}
		}
	}
	&__logo {
		& img {
			@include pc {
				width: 130px;
				height: 35px;
				margin-left: 18px;
			}
			@include pcmiddle {
				width: 1.3rem;
				height: .35rem;
				margin-left: .18rem;
			}
		}
	}
	&__category {
		display: inline-block;
		cursor: pointer;
		@include pc {
			margin-left: 20px;
			font-size: 13px;
		}
		@include pcmiddle {
			margin-left: .2rem;
			font-size: .13rem;
		}
	}
	&__search-box {
		display: inline-block;
		@include pc {
			margin-left: 27px;
		}
		@include pcmiddle {
			margin-left: .27rem;
		}
		input[type="text"] {
			background-color: #fff;
			color: $fontColor;
			font-weight: 400;
			@include pc {
				width: 371px;
				height: 35px;
				padding: 10px 20px;
				border: 1px solid #B3B3B3;
				border-radius: 5px;
				font-size: 14px;
			}
			@include pcmiddle {
				width: 3.71rem;
				height: .35rem;
				padding: .1rem .2rem;
				border: .01rem solid #B3B3B3;
				border-radius: .05rem;
				font-size: .14rem;
			}
		}
		input[type="submit"] {
			position: relative;
			background: url(../img/icon-search.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-color: transparent;
			@include pc {
				width: 13px;
				height: 13px;
				top: 1px;
				right: 30px;
			}
			@include pcmiddle {
				width: .13rem;
				height: .13rem;
				top: .01rem;
				right: .30rem;
			}
		}
	}
	&__myarea {
		display: flex;
		align-items: center;
	}
	&__icon {
		@include pc {
			margin-left: 23px;
		}
		@include pcmiddle {
			margin-left: .23rem;
		}
		&:first-child {
			margin: 0;
		}
		img {
			@include pc {
				width: 26px;
			}
			@include pcmiddle {
				width: .26rem;
			}
		}
	}
	&__usericon {
		@include pc {
			margin-left: 23px;
		}
		@include pcmiddle {
			margin-left: .23rem;
		}
		& img {
			border-radius: 50%;
			object-fit: cover;
			object-position: center center;
			@include pc {
				width: 45px;
			}
			@include pcmiddle {
				width: .45rem;
			}
		}
	}
	&-modal {
		&__bg {
			@include pc {
				top: 360px!important;
				width: 780px;
				min-height: 469.6px;
				margin-top: 10px;
				padding: 70px 55px!important;
			}
			@include pcmiddle {
				top: 3.6rem!important;
				width: 7.8rem;
				min-height: 4.696rem;
				margin-top: .1rem;
				padding: .7rem .55rem!important;
			}
			&::before {
				content: '';
				position: absolute;
				@include pc {
					top: -33px;
					left: 277px;
					border-right: 33px solid transparent;
					border-bottom: 60px solid #fff;
					border-left: 33px solid transparent;
				}
				@include pcmiddle {
					top: -.33rem;
					left: 2.77rem;
					border-right: .33rem solid transparent;
					border-bottom: .6rem solid #fff;
					border-left: .33rem solid transparent;
				}
			}
		}
		&__close {
			cursor:pointer;
			background: url('../img/close-icon.png') center/cover;
			position: absolute;
			@include pc {
				top: 19px;
				right: 14px;
				width: 36px;
				height: 36px;
			}
			@include pcmiddle {
				top: .19rem;
				right: .14rem;
				width: .36rem;
				height: .36rem;
			}
		}
		&__back {
			cursor:pointer;
			background: url('../img/icon_back.png') center/cover;
			position: absolute;
			@include pc {
				top: 16px;
				left: 16px;
				width: 43px;
				height: 43px;
			}
			@include pcmiddle {
				top: .16rem;
				left: .16rem;
				width: .43rem;
				height: .43rem;
			}
			&::before {
				background: #EFEFEF;
				content: '';
				@include pc {
					width: 47px;
					height: 47px;
				}
				@include pcmiddle {
					width: .47rem;
					height: .47rem;
				}
			}
		}
		&__category {
			font-weight: 400;
			cursor: pointer;
			@include pc {
				width: 200px;
				margin: 25px 0 0 35px;
				font-size: 15px;
			}
			@include pcmiddle {
				width: 2rem;
				margin: .25rem 0 0 .35rem;
				font-size: .15rem;
			}
			&:nth-child(-n + 3) {
				margin-top: 0;
			}
			&:nth-child(3n + 1) {
				margin-left: 0;
			}
			&:hover {
				opacity: .6;
				transition: 0;
			}
		}
		&__head {
			@include pc {
				margin-top:10px;
				padding-left: 20px;
				font-size: 20px;
			}
			@include pcmiddle {
				margin-top:.1rem;
				padding-left: .2rem;
				font-size: .2rem;
			}
		}
		&__line {
			@include pc {
				margin-top: 20px;
			}
			@include pcmiddle {
				margin-top: .2rem;
			}
		}
		&__select {
			display: none;
			&.active {
				display: block;
			}
			&-content {
				display: flex;
				margin: 0 auto;
				flex-wrap: wrap;
			}
		}
		&__detail {
			display: none;
			&.active {
				display: block;
			}
			&-content {
				display: flex;
				margin: 0 auto;
				flex-wrap: wrap;
				@include pc {
					margin-top: 26px;
				}
				@include pcmiddle {
					margin-top: .26rem;
				}
			}
		}
	}
}

//ハンバーガーメニュー動作時のcss

.bar-none {
	opacity: 0;
}
.rotate-bar {
	transform: rotate(45deg);
	@include pc {
		top: 8px;
	}
	@include pcmiddle {
		top: .08rem;
	}
	@include sp {
		top: .08rem;
	}
	&-reverse {
		transform: rotate(-45deg);
		@include pc {
			bottom: 8px;
		}
		@include pcmiddle {
			bottom: .08rem;
		}
		@include sp {
			bottom: .08rem;
		}
	}
}

// 通知アイコンのcss
.bell {
  margin: 0 10px;
  position: relative;

  &-dropdown {
    border-radius: 50%;
    padding: 6px;
  }

  &-dropdown:hover {
    background-color: #fff;
  }

  &-icon {
    font-size: 20px;
    color: #fff;
  }

  &-icon:hover {
    color: #148BA8;
  }

  &-notifications {
    position: absolute;
    top: 50px;
    right: -70px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    display: none;
    padding: 10px 0;
    background-color: #fff;
  }

  &-notifications:before {
    content: "";
    position: absolute;
    top: -20px;
    right: 75px;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: transparent transparent black transparent;
    z-index: 1;
  }

  &-allread {
    margin-bottom: 5px;
  }

  &-list {

    &-item {
      font-size: 7px;
      margin-top: 5px;
      background-color: #ccc;
      padding: 3px 0;

      > a {
        text-decoration: none;
        color: black;
      }
    }

    &-item:first-child {
      margin-top: 0;
    }

    > a {
      color: red;
    }
  }

  &-active {
    display: block;
  }
}

.notification-count {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 20px;
  background-color: gray;
}
