.l-sidebar {
  position: fixed;
  height: 100%;
  background: $lightBlue;
  z-index: 1;
  transition: all .5s;
  @include pc {
    top: 85px;
    width: 230px;
  }
  @include pcmiddle {
    top: .85rem;
    width: 2.3rem;
  }
  &.activeside {
    @include pc {
      width: 86px;
    }
    @include pcmiddle {
      width: .86rem;
    }
  }
  &__item {
    img {
      vertical-align: middle;
      @include pc {
        width: 26px;
        margin-left: 30px;
      }
      @include pcmiddle {
        width: .26rem;
        margin-left: .3rem;
      }
    }
    a {
      width: 100%;
      color: $whiteGray;
      white-space: nowrap;
      transition: .5s;
      @include pc {
        padding: 13px 0;
      }
      @include pcmiddle {
        padding: .13rem 0;
      }
      &:hover {
        background: $whiteGray;
        color: $fontColor;
        opacity: 1;
      }
    }
  }
  &__text {
    vertical-align: middle;
    @include pc {
      margin-left: 10px;
      font-size: 16px;
    }
    @include pcmiddle {
      margin-left: .1rem;
      font-size: .16rem;
    }
  }
}

.nowlocation {
	background: $whiteGray;
  color: $fontColor!important;
  pointer-events: none;
}